body {
	background-color: #f0ece2;
}

.bc-footer {
	background-color: #c7b198;
	bottom: 0;
	height: 125px;
	padding-top: 24px;
	width: 100vw;
}

h1 {
	font-weight: bold;
	font-size: 1.2em;
}

.header-nav-spacer {
	font-size: 1.3em;
	margin-right: 60px;
}

.left-msg {
	color: #f0ece2;
	font-size: 2.4em;
	padding-top: 300px;
	padding-left: 85px;
}

.navbar {
  border: none;
  box-shadow: none;
}

.nv-head {
	background-color: #f0ece2;
	height: 128px;
	padding-top: 64px;
}

.nav-log {
	margin-top: -40px;
	padding-right: 64px;
}

.top-cont {
	background-image: url("/img/enjoy_coffee.jpg");
	background-repeat: no-repeat;
	height: 800px;
	opacity: 0.9;
	width: 100vw;
}